grc/converter/block_tree.dtd

<!--
Copyright 2008 Free Software Foundation, Inc.
This file is part of GNU Radio

SPDX-License-Identifier: GPL-2.0-or-later

-->
<!--
    block_tree.dtd
    Josh Blum
    The document type definition for a block tree category listing.
 -->
<!ELEMENT cat (name, cat*, block*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT block (#PCDATA)>
